@import "../../styles/vars.scss";

.recently_viewed {
  margin-bottom: 140px;
  & h2 {
    @extend %block-heading;
    text-align: center;
    margin: 0 0 60px 0;
  }
}

@media (max-width: 768px) {
  .recently_viewed {
    margin-bottom: 120px;    
  }
}

@media (max-width: 560px) {
  .recently_viewed {
    margin-bottom: 60px;
    & h2 {
      margin: 0 auto 40px auto;
      width: calc(100% - 30px);
    }
  }
}