@import "../../styles/vars.scss";

.for_you {
  & h2 {
    @extend %block-heading;
    text-align: center;
    margin: 140px 0 60px 0;
  }
}

@media (max-width: 768px) {
  .for_you {    
    margin: 120px 0 60px 0;
  }
}