@import "../../styles/vars.scss";

.spring {
  width: 100%;
  height: 400px;
  background-image: url(/spring-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & div {
    width: 285px;
    left: 275px;
    position: relative;
    & h2 {      
      @extend %block-heading;
    }
    & p {
      @extend %block-description;
    }
    & button {
      width: 141px;
      @extend %button;
      @extend %hoverable;
    }
  }
}

@media (max-width: 1169px) {
  .spring {
    width: calc(100% - 85px);
    padding: 0 85px 0 0;
    height: 432px;
    justify-content: flex-end;
    & div {
      position: unset;
    }
  }
}

@media (max-width: 768px) {
  .spring {    
    margin-bottom: 120px;
  }
}

@media (max-width: 560px) {
  .spring {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 562px;
    justify-content: center;
    background-image: url(/spring-bg-phone.jpg);
    margin-bottom: 80px;
    align-items: flex-end;
    & div {
      margin-bottom: 60px;
    }
  }
}