@import "../../styles/vars.scss";

.individual {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 140px;
  overflow: hidden;
}

.left_block {
  width: 470px;
  padding: 100px;
  background-color: $accent-bg-color;
  & h2 {
    @extend %block-heading
  }
  & p {
    width: 329px;
    @extend %block-description;
    &:first-of-type {      
      margin: 32px 0 10px 0;
    }    
  }
  & button {
    width: 200px;
    margin-top: 37px;
    @extend %button;
    @extend %hoverable;
  }
  & img {
    right:0;
    top: 50%;
    transform: translateY(-50%);  
    object-fit: cover;
    position: absolute;
  }
}

@media (max-width:1169px) {
  .individual {
    margin-left: 45px;
  }
  .left_block{
    padding: 60px;
    width: 550px;
    & img {
      right: auto;
      left: 442px;
      width: 398px;
      height: 403px;
    }
  }
}

@media (max-width: 768px) {
  .individual {
    margin: 0 15px 120px 15px;
  }
}

@media (max-width: 560px) {
  .individual {
    margin-bottom: 230px;
    overflow:visible;
    & p:first-of-type {
      display: none;
    }
  }

  .left_block {
    width: 100%;
    padding: 58px 0 0 0;
    height: calc(442px - 58px);
    text-align: center;    
    & p {
      width: auto;
      &:last-of-type {
        margin: 20px 0 0 0;
      }
    }
    & button {
      margin-top: 30px;
    }
    & img {
      display: block;
      position: unset;
      left: auto;
      top: auto;
      transform: none;
      margin: 50px auto 0 auto;
      width: 250px;
      height: 252px;
    }
  }
}