@import "../../styles/vars.scss";

.individual {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 140px;
}

.left_block {
  width: 470px;
  padding: 100px;
  background-color: $accent-bg-color;
  & h2 {
    @extend %block-heading
  }
  & p {
    width: 329px;    
    margin: 32px 0 0 0;
    @extend %block-description
  }
  & button {
    width: 200px;
    margin-top: 37px;
    @extend %button;
    @extend %hoverable;
  }
  & img {
    right:0;
    top: 50%;
    transform: translateY(-50%);  
    object-fit: cover;
    position: absolute;
  }
}

@media (max-width:1169px) {
  .individual {
    width: calc(100% - 90px);
  }
  .left_block{
    padding: 60px;
    width: 550px;
    & img {
      right: auto;
      left: 442px;
      width: 398px;
      height: 403px;
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .individual {
    margin-bottom: 120px;
  }
}