@import "../../styles/vars.scss";

.catalog {
  max-width: 1170px;
  margin: 0 auto 140px auto;  
  & ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
    & li{
      list-style: none;
      margin: 0;
    }
  }
  
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;  
}

.digits_container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;  
  align-items: center;
  & p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    &:last-of-type {
      color: $secondary-font-color;
    }
  }
  & img:first-of-type {
    margin: 0 10px 0 10px;
  }  
}

.arrows_container {
  & button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    &:first-of-type {
      margin-right: 32px;
    }
    &:disabled {
      opacity: .40;
    }
    @extend %hoverable;
  }
}

@media (max-width: 1169px) {
  .catalog {
    width: calc(100% - 90px);
    & ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 950px) {
  .catalog {    
    & ul {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
}

@media (max-width: 768px) {  
  .catalog {
    margin: 0 auto 120px auto; 
  }
}

@media (max-width: 760px) {
  .catalog {    
    & ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 560px) {
  .catalog {
    width: calc(100% - 30px);
    margin-bottom: 60px;
  }

  .pagination {
    margin-top: 35px;
  }

  .digits_container {
    margin-left: 0;
    transform: none;
    & p {
      font-size: 14px;
    }
    & img:first-of-type {
      margin: 0 8px 0 8px;
    }  
  }

  .arrows_container {
    & button {
      &:first-of-type {
        margin-right: 30px;
      }
      & img {
        width: 24px;
        height: 11px;
      }
    }
  }
}