@import "../../styles/vars.scss";

.catalog {
  max-width: 1170px;
  margin: 0 auto 140px auto;  
  & ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    // flex-wrap: wrap;
    // justify-content: space-between;
    margin: 0;
    padding: 0;
    & li{
      list-style: none;
      margin: 0 0 0 0;
      // &:nth-of-type(-n+4) {
      //   margin-top: 0;
      // }
    }
  }
  
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;  
}

.digits_container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;  
  align-items: center;
  & p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    &:last-of-type {
      color: $secondary-font-color;
    }
  }
  & img:first-of-type {
    margin: 0 10px 0 10px;
  }  
}

.arrows_container {
  & button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    &:first-of-type {
      margin-right: 32px;
    }
    &:disabled {
      opacity: .40;
    }
    @extend %hoverable;
  }
}

@media (max-width: 1169px) {
  .catalog {
    width: calc(100% - 90px);
    & ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 950px) {
  .catalog {    
    & ul {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
}

@media (max-width: 768px) {  
  .catalog {
    margin: 0 auto 120px auto; 
  }
}
