@font-face {
  font-family: Mplus1p;
  src: url(./Mplus_1p_400.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Mplus1p;
  src: url(./Mplus_1p_500.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Medium.ttf);
  font-weight: 500;
}