@import "../../styles/vars.scss";

.burger_menu {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2;  
}

.button_wrapper {
  position: relative;
  & button {
    position: absolute;
    top: 0;
    left: 45px;
    margin-top: 40px;
    background: none;
    border: 0;
    cursor: pointer;  
  }
}

.links {
  width: 100%;
  display: none;  
  margin: 101px 0 0 0;
  background-color: $bg-color;
  padding: 0 0 60px 45px;
  & ul {
    padding: 50px 0 0 0;
    & li {
      list-style: none;
      margin-bottom: 32px;
      &:last-of-type {
        margin-bottom: 60px;
      }
      & a {
        text-decoration: none;
        font-size: 32px;
        font-weight: 500;
        color: $primary-font-color;
        line-height: 32px;
        @extend %hoverable;    
      }        
    }
  }
}  

.display_block {
  display: block;
}

.display_none {
  display: none;
}

@media (max-width:768px) {
  .burger_menu {
    display: block;
  }
}

@media (max-width: 560px) {
  .burger_menu {
    & .button_wrapper {
      & button {
        margin-top: 30px;
        left: 15px;
      }
      
    }
  }

  .links {
    padding: 0 0 50px 15px;
    margin-top: 77px;    
    & ul {
      & li {     
        margin-bottom: 28px;
        &:last-of-type {
          margin-bottom: 50px;
        }
        & a {          
          font-size: 28px;
          line-height: 28px;            
        }
      }
    }
  }
}