@import "../../styles/vars.scss";

.filter_display_block {
  display: block;
}

.filter_display_none {
  display: none;
}

.heading {
  max-width: 1170px;
  margin: 48px auto 40px auto;
  position: relative;
  
  & .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
      font-size: 36px;
      font-weight: 500;
      margin: 0;
    }
    & button {
      width: 141px;
      @extend %button;
      @extend %hoverable;
    } 
    & button:last-of-type{
      position: absolute;
      top: 10px;
      right: 0;
      border: 0;
      padding: 0;
      width: 18px;
    }
  }  
}

.filter_container {
  position: absolute; 
  padding-bottom: 80px;
  z-index: 1; 
  top: 50px;
  left: 0;  
  background-color: $bg-color;
  width: 100%;
  justify-content: space-evenly;  
  transition: opacity .3s ease-in,  height .3s ease-in;
  & .filter_col {
    display: flex;
    flex-direction: column;
    min-width: 130px;
    & p {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 31px;
    }
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      & li {
        margin-bottom: 22px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }     
    }
  }  
}



.category_title {
  position: relative;
}

.expand {
  display: none;
  position: absolute;
  top: 8px;
  right: 0;
  padding: 0;
  height: 12px;
  background: 0;
  border: 0;
  cursor: pointer;
  @extend %hoverable;
}

.collapsed {
  //height: 60px;  
  //opacity: 0;
  display: none;
}

.expanded {
  //height: auto;  
  display: flex;
  //opacity: 1;  
}

.desktop_buttons_wrapper{    
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 41px;
  & button {
    width: 141px;
    @extend %button;
    @extend %hoverable;
    &:first-of-type {
      margin-right: 20px;
    }
  }  
}

.tablet_buttons_wrapper {      
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 41px auto 0 auto;
  & button {
    width: 141px;
    @extend %button;
    @extend %hoverable;
    &:first-of-type {
      margin-right: 20px;
    }
  }  
}


@media (max-width: 1169px) {
  .heading {
    width: calc(100% - 90px);
  }
}

@media (max-width: 768px) {
  .desktop_buttons_wrapper {
    display: none;
  }

  .tablet_buttons_wrapper {
    display: flex;
  }

  .filter_container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .filter_col {
    margin-right: 60px;    
  }
}

@media (max-width: 560px) {
  .heading {
    width: calc(100% - 30px);
    margin: 30px 15px 40px 15px;
    & .title{
      & h1 {
        font-size: 28px;
      }
      & button {
        width: 108px;
      }
    }
  }
  
  .filter_container {
    flex-direction: column;
    & .filter_col {
      margin: 0;
      padding: 0 20px;
      &:first-of-type {
        margin-top: 50px;
      }
      & ul {
        margin-bottom: 40px;        
      }
      & p {
        margin: 0 0 20px 0;
      }
      .category_title {    
        border-bottom: 1px solid $buttons-border-color;
        margin: 0 auto 20px auto;
        width: calc(100%);   
        &:nth-last-of-type(2n) {
          border: 0;
        }
      }
      
    }
  }

  .tablet_buttons_wrapper {
    justify-content: space-between;
    width: calc(100% - 40px);
    & button {
      width: 115px;
    }
  }

  .expand {
    display: block;
  } 

  .display_block {
    display: block;
  }
  
  .display_none {
    display: none;
  }
}

