@import "../../styles/vars.scss";

.top_wrapper{
  width: 100%;
  background-color: $accent-bg-color;
  margin-top: 140px;
  border-bottom: 1px solid $blocks-border-color;
  height: 140px;
  & div {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
  }
}

.bottom_wrapper{
  width: 100%;
  height: 54px;
  background-color: $accent-bg-color;
  display: flex;
  justify-content: space-between;
  & div:first-of-type {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    color: $copyright-text-color;
    font-size: 12px;
    & img {
      margin: 0 5px;
    }
    & a {
      text-decoration: none;
      color: $copyright-text-color;
      white-space: nowrap;
      @extend %hoverable
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 69px;
  & ul {
    display: flex;
    padding: 0;
    & li {
      list-style: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-right: 40px;  
      &:last-of-type {
        margin-right: 0;
      }    
      & a {
        text-decoration: none;
        color: $primary-font-color;
        @extend %hoverable
      }
    }
  }
}

@media (max-width: 1169px) {
  .top_wrapper {
    width: calc(100% - 90px);
    padding: 0 45px;    
  }

  .bottom_wrapper {
    width: calc(100% - 90px);
    padding: 0 45px;
    & div:first-of-type {
      width: 100%;
    }
  }
  
  .nav {
    padding-left: 50px;
    & ul li {
      margin-right: 25px;
    }
  }
}

@media (max-width: 768px) {
  .top_wrapper {
    margin-top: 120px;
  }
}
