@import "../../styles/vars.scss";

.history {
  width: 100%;
  height: 433px;
  background-image: url(/history-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  & p {
    font-family: Raleway, serif, Arial;
    text-align: center;
    width: 761px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 46px 0;
  }
  & button {
    width: 163px;
    @extend %button;
    @extend %hoverable;
  }
}